@import 'styles/components';
@import 'styles/colors';
@import 'styles/mixins';

.officer-page {
  @extend %main-container;

  background-color: $wild-sand-color;

  .page-container {
    padding: $v-frame-margin $h-side-frame;

    .officer-period {
      @include small-text;
      padding: $v-frame-margin $h-card-margin;
      margin-bottom: $v-frame-margin;
      text-align: center;
      border: 1px solid $alto-color;
      box-sizing: border-box;
      color: $boulder-color;
    }

    .officer-content {
      @include small-text;
      padding: $v-margin 0;
      border: 1px solid $alto-color;
      border-radius: 8px;
      box-sizing: border-box;
      background-color: $white-color;
      border-radius: 8px;

      .officer-title {
        @include small-text;
        color: $boulder-color;
        margin: 0 $h-card-margin;
      }

      .officer-name {
        @include h1;
        margin: $v-small-margin $h-card-margin 0 $h-card-margin;
        color: $thunder-color;
      }

      .officer-basic-info {
        .officer-basic-info-row {
          @include small-text;
          color: $thunder-color;
          border-bottom: 1px solid $alto-color;
          padding: $v-small-margin $h-card-margin;
        }

        .officer-department {
          @include small-text;
          color: $thunder-color;
          margin: $v-small-margin $h-card-margin;
        }

        .officer-summary-info {
          @include body-text;
          margin: $v-small-margin $h-card-margin 0 $h-card-margin;
          padding: $v-margin $h-card-margin;
          background-color: $willow-brook-color;
          text-align: center;
          border-radius: 2px;
        }
      }

      .officer-documents {
        margin-top: $v-header-margin;

        .officer-documents-title {
          @include h1;
          color: $thunder-color;
          margin: 0 $h-card-margin;
          color: $thunder-color;
        }

        .officer-documents-listview {
          margin-top: $v-frame-margin;
          padding: 0 $h-card-margin;

          .document-card {
            margin-right: $h-margin;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .officer-page {
    .page-container {
      .officer-content {
        .officer-documents {
          .officer-documents-listview {
            padding: 0;

            .document-item {
              padding: $v-small-margin $h-card-margin;
            }
          }
        }
      }
    }
  }
}
