@import 'styles/variables';
@import 'styles/colors';
@import 'styles/mixins';

.officer-page {
  background-color: $gallery-ea-color;
  padding: $v-frame-margin $h-side-frame;

  .officer-period {
    @include small-text;
    padding: $v-frame-margin $h-card-margin;
    margin-bottom: $v-frame-margin;
    text-align: center;
    border: 1px solid $alto-color;
    box-sizing: border-box;
    color: $boulder-color;
  }

  .officer-basic-info {
    @include small-text;
    padding: $v-margin 0;
    border: 1px solid $alto-color;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: $white-color;

    .officer-rank {
      @include small-text;
      color: $boulder-color;
      margin: 0 $h-card-margin;
    }

    .officer-name {
      @include h1;
      margin: $v-small-margin $h-card-margin 0 $h-card-margin;
      color: $thunder-color;
    }

    .officer-basic-info-row {
      @include small-text;
      color: $thunder-color;
      border-bottom: 1px solid $alto-color;
      padding: $v-small-margin $h-card-margin;
    }

    .officer-summary-info {
      @include body-text;
      margin: $v-small-margin $h-card-margin 0 $h-card-margin;
      padding: $v-margin $h-card-margin;
      background-color: $willow-brook-color;
      text-align: center;
      border-radius: 2px;
    }
  }
}
