# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store

.eslintcache

cypress/integration/examples
cypress/videos
cypress/screenshots
cypress/results

.history

.idea

.env
*.pgsql

reports/
results/