@import 'styles/components';
@import 'styles/colors';
@import 'styles/mixins';

.login-page {
  @extend %main-container;

  .content-container {
    padding: 0 $h-side-frame;

    .login-form {
      .email-input,
      .password-input {
        width: 532px;
        margin-bottom: $v-frame-margin;
      }

      .error-message {
        @include body-text;
        color: $thunder-color;
        padding-left: 48px;
        margin-top: $v-mid-margin;
        background: url('assets/icons/warning.svg') no-repeat 15px center;
      }
    }
  }
}
