@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.search-document-item {
  @include small-text;
  padding: $v-small-margin 0;
  width: 242px;

  & + .search-document-item {
    border-top: 1px solid $alto-color;
  }

  .document-item-title {
    display: flex;

    .document-item-type {
      color: $boulder-color;
      display: none;
    }
    .document-item-name {
      color: $thunder-color;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 0 $h-margin;
        vertical-align: middle;
        background-color: $boulder-color;
        display: none;
      }
    }
  }

  .document-item-subtitle {
    display: flex;

    .document-item-incident-date {
      color: $thunder-color;
      white-space: nowrap;
      margin-right: $h-margin;
    }

    .document-item-text-content {
      color: $boulder-color;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      em {
        background-color: $starship-50-color;
        font-style: normal;
      }
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .search-document-item {
    width: 508px;

    .document-item-title {
      .document-item-type {
        display: block;
      }

      .document-item-name {
        &::before {
          display: inline-block;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
  .search-document-item {
    width: 1032px;
  }
}
