@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.btn {
  @include body-text;
  box-sizing: border-box;
  padding: $v-small-margin $h-card-margin;
  color: $white-color;
  background: $thunder-color;
  border: 3px solid $thunder-color;
  border-radius: 2px;
  outline: none;
  cursor: pointer;

  &:hover {
    background: $emperor-color;
    border: 3px solid $emperor-color;
  }

  &:disabled {
    color: $boulder-color;
    background: $gallery-ed-color;
    border: 1px solid $alto-color;
  }

  &:active {
    background: $emperor-color;
    border: 3px solid $black-color;
  }
}
