@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.forgot-password-confirm-page {
  margin-top: $v-margin;
  padding: 0 $h-side-frame;

  .forgot-password-confirm-form {
    .password-input {
      margin-bottom: $v-small-margin;
    }

    .submit-btn {
      margin-top: $v-mid-margin;
    }

    .message {
      @include body-text;
      color: $thunder-color;
      padding-left: 48px;
      margin-top: $v-mid-margin;
      background: url('assets/icons/warning.svg') no-repeat 15px center;
    }

    .success-message {
      background: url('assets/icons/check-circle-solid.svg') no-repeat 15px
        center;
    }
  }
}
