@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.about-page {
  display: flex;
  flex-flow: column;
  padding-bottom: 100px;
  background-color: $mercury-color;

  .summary {
    padding: 37px 15px;
    color: $alabaster-color;
    background: $cod-gray-color url('assets/icons/about-page.svg');

    .title {
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
    }
  }

  .section {
    padding: 50px 15px 0 15px;

    .section-name {
      font-weight: 700;
      font-size: 24px;
      line-height: 64px;
    }

    .question {
      margin-top: $v-mid-margin;
      border: 1px solid $alto-color;
      border-radius: 8px;
      background-color: $white-color;
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .about-page {
    .summary {
      padding: 64px 30px;

      .title {
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        padding-bottom: 76px;
      }
    }
  }
}

@media only screen and (min-width: $laptop-breakpoint) {
  .about-page {
    padding-bottom: 217px;

    .summary {
      padding: 130px calc((100% - 858px) / 2);

      .title {
        font-size: 96px;
        padding-bottom: 54px;
      }
    }

    .section {
      width: 858px;
      margin: 0 auto;
    }
  }
}
