@import 'styles/colors';
@import 'styles/variables';
@import 'styles/mixins';

.department-section-container {
  padding: 24px 0 36px $h-side-frame;
  background-color: $wild-sand-color;
  color: $thunder-color;

  .carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .carousel-title {
      @include callout-text;
    }

    .search-icon {
      width: 48px;
      height: 48px;
      margin-right: 25px;
      border: 1px solid #bdbdbd;
      border-radius: 2px;
      background: $white-color url('assets/icons/search.svg') center no-repeat;

      &:hover {
        background: $emperor-color url('assets/icons/search-hover.svg') center
          no-repeat;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: $laptop-breakpoint) {
  .department-section-container {
    padding-left: 24px;
  }
}
