@import 'styles/variables';
@import 'styles/colors';
@import 'styles/mixins';

.analytic-summary {
  background-color: $thunder-color;

  .analytic-summary-item {
    display: flex;
    color: $white-color;
    padding: $v-margin $h-card-margin;
    flex-wrap: wrap;
    cursor: pointer;

    .analytic-summary-content {
      @include callout-text;
      flex-grow: 1;
      flex-basis: 100%;
    }

    .recent-summary {
      @include small-text;
      color: $alto-color;
      line-height: 31px;
    }

    & + .analytic-summary-item {
      border-top: 1px solid $wild-sand-color;
    }

    &:hover {
      background-color: $emperor-color;
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .analytic-summary {
    .analytic-summary-item {
      .analytic-summary-content {
        flex-basis: auto;
      }
    }
  }
}
