@import 'styles/variables';
@import 'styles/colors';
@import 'styles/mixins';
.analytic-summary {
  background-color: $thunder-color;
  line-height: 47px;

  .analytic-summary-item {
    display: flex;
    color: $white-color;
    padding: $v-margin $h-card-margin;
    line-height: 31px;

    .analytic-summary-content {
      @include callout-text;
      flex-grow: 1;
      flex-basis: auto;
    }

    .recent-summary {
      @include small-text;
      color: $alto-color;
      line-height: 31px;
    }

    & + .analytic-summary-item {
      border-top: 1px solid $wild-sand-color;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .analytic-summary {
    .analytic-summary-item {
      flex-wrap: wrap;

      .analytic-summary-content {
        flex-grow: 1;
        flex-basis: 100%;
      }
    }
  }
}
