@import 'styles/variables';
@import 'styles/colors';

.front-page {
  display: flex;
  flex-flow: column nowrap;

  > * {
    order: 1;
  }

  .front-order-101 {
    order: 101;
  }
  .front-order-102 {
    order: 102;
  }
  .front-order-103 {
    order: 103;
  }
  .front-order-104 {
    order: 104;
  }

  .summary {
    p {
      margin: 0;
    }

    box-sizing: border-box;
    padding: $v-small-margin $h-side-frame $v-margin $h-side-frame;
  }

  .section-anchor {
    height: 0px;
  }

  :not(.front-order-101) {
    .section-anchor {
      border-top: 1px solid $thunder-color;
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .front-page {
    .summary {
      width: 50%;
    }
  }
}
