@import 'styles/variables';
@import 'styles/colors';

.front-page {
  .front-page-carousel {
    & + .front-page-carousel {
      border-top: 1px solid $thunder-color;
    }
  }

  .summary {
    box-sizing: border-box;
    padding: $v-small-margin $h-side-frame $v-margin $h-side-frame;
    width: 50%;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .front-page {
    .summary {
      width: 100%;
    }
  }
}
