@import 'styles/variables';
@import 'styles/colors';

.front-page {
  .section-anchor {
    & ~ .section-anchor {
      border-top: 1px solid $thunder-color;
    }
  }

  .summary {
    p {
      margin: 0;
    }

    box-sizing: border-box;
    padding: $v-small-margin $h-side-frame $v-margin $h-side-frame;
  }

  .section-anchor {
    height: 0px;
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .front-page {
    .summary {
      width: 50%;
    }
  }
}
