@import 'styles/colors';

.department-card {
  width: 312px;
  height: 313px;
  background: $white-color;
  border-radius: 2px;
  border: 1px solid $alto-color;
  box-sizing: border-box;

  .department-info {
    box-sizing: border-box;
    padding: 32px 28px 0 28px;
    height: 222px;

    .department-type {
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      color: $boulder-color;
      margin-bottom: 12px;
    }

    .department-name {
      font-weight: 500;
      font-size: 26px;
      line-height: 34px;
      color: $thunder-color;
    }
  }

  .department-card-footer {
    box-sizing: border-box;
    background-color: $wild-sand-color;
    height: 89px;
    padding: 18px 28px 12px 28px;

    .department-map {
      width: 49px;
      height: 60px;
      background-color: $boulder-color;
      display: inline-block;
      vertical-align: middle;
      background-size: cover;
    }

    .department-location {
      font-size: 16px;
      line-height: 21px;
      color: $thunder-color;
      display: inline-block;
      vertical-align: middle;
      margin-left: 12px;

      .department-city {
        font-weight: 500;
      }

      .department-parish {
        font-weight: 300;
      }
    }
  }
}
