@import 'styles/colors';
@import 'styles/variables';
@import 'styles/mixins';

.department-card {
  width: 247px;
  height: 313px;
  background: $white-color;
  border-radius: 8px;
  border: 1px solid $alto-color;
  box-sizing: border-box;
  overflow: hidden;

  .department-info {
    box-sizing: border-box;
    padding: $v-margin $h-card-margin 0 $h-card-margin;
    height: 222px;

    .department-type {
      @include small-text;
      color: $boulder-color;
      margin-bottom: $v-small-margin;
    }

    .department-name {
      @include h1;
      color: $thunder-color;
    }
  }

  .department-card-footer {
    box-sizing: border-box;
    background-color: $wild-sand-color;
    height: 89px;
    padding: $v-frame-margin $h-side-frame $v-frame-margin $h-card-margin;

    .department-map {
      width: 48px;
      height: 48px;
      display: inline-block;
      vertical-align: middle;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .department-location {
      @include small-text;
      color: $thunder-color;
      display: inline-block;
      vertical-align: middle;
      margin-left: $h-margin;
      width: calc(100% - 56px);
      white-space: nowrap;

      .department-city {
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .department-parish {
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .department-card {
    width: 247px;
    width: 312px;
  }
}
