@import 'styles/colors';
@import 'styles/variables';

.department-card {
  width: 247px;
  height: 313px;
  background: $white-color;
  border-radius: 8px;
  border: 1px solid $alto-color;
  box-sizing: border-box;
  overflow: hidden;

  .department-info {
    box-sizing: border-box;
    padding: 32px 32px 0;
    height: 222px;

    .department-type {
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      color: $boulder-color;
      margin-bottom: 12px;
    }

    .department-name {
      font-weight: 500;
      font-size: 26px;
      line-height: 34px;
      color: $thunder-color;
    }
  }

  .department-card-footer {
    box-sizing: border-box;
    background-color: $wild-sand-color;
    height: 89px;
    padding: 16px 16px 16px 32px;

    .department-map {
      width: 48px;
      height: 48px;
      display: inline-block;
      vertical-align: middle;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .department-location {
      font-size: 16px;
      line-height: 21px;
      color: $thunder-color;
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;
      width: calc(100% - 56px);
      white-space: nowrap;

      .department-city {
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .department-parish {
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .department-card {
    width: 312px;
  }
}
