@import 'styles/colors';
@import 'styles/variables';
@import 'styles/mixins';

.document-card {
  @include small-text;
  width: 248px;
  height: 313px;
  background: $white-color;
  border-radius: 8px;
  border: 1px solid $alto-color;
  box-sizing: border-box;
  display: inline-block;

  .document-info {
    box-sizing: border-box;
    padding: $v-margin $h-card-margin 0 $h-card-margin;

    .document-type {
      @include small-text;
      color: $boulder-color;
      margin-bottom: $v-small-margin;
    }

    .document-title {
      @include small-text;
      height: 2 * $v-margin;
      margin-top: $v-small-margin;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .document-subtitle {
      @include small-text;
      margin-top: $v-tiny-margin;
      color: $boulder-color;
    }
  }

  .document-card-footer {
    box-sizing: border-box;
    padding: 0 $h-card-margin;
    overflow: auto;
    position: absolute;
    bottom: $v-frame-margin;
    max-height: 71px - $v-frame-margin;

    .document-department-name {
      display: block;
      text-decoration: none;
      color: $thunder-color;
      box-sizing: border-box;
      padding: 13px $h-side-frame 14px $h-side-frame;
      border: 1px solid $alto-color;
      border-radius: 2px;
      background-color: $wild-sand-color;

      & + .document-department-name {
        margin-top: $v-tiny-margin;
      }
    }
  }

  &:hover {
    box-shadow: 0px 4px 8px $black-12-color;

    .document-info {
      .document-title {
        color: $blue-ribbon-color;
      }
    }
  }
}
