@import 'styles/colors';
@import 'styles/variables';
@import 'styles/mixins';

.document-card {
  @include small-text;
  width: 248px;
  height: 313px;
  background: $white-color;
  border-radius: 8px;
  border: 1px solid $alto-color;
  box-sizing: border-box;

  .document-info {
    box-sizing: border-box;
    padding: $v-margin $h-small-margin 0 $h-card-margin;
    height: 248px;

    .document-type {
      @include small-text;
      color: $boulder-color;
      margin-bottom: $v-small-margin;
    }

    .document-title {
      @include small-text;
      margin-top: $v-small-margin;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .document-incident-date {
      @include small-text;
      margin-top: $v-tiny-margin;
    }

    .document-preview-container {
      .document-preview {
        display: inline-block;
        width: 61px;
        height: 79px;
        border: 1px solid $alto-color;
        box-sizing: border-box;
        background-color: $white-color;
        position: relative;
        background-size: cover;
      }

      .document-preview-page {
        display: inline-block;
        width: 13px;
        height: 79px;
        border: solid $alto-color;
        border-width: 1px 1px 1px 0;
        box-sizing: border-box;
        background-color: $wild-sand-color;
      }
    }
  }

  .document-card-footer {
    box-sizing: border-box;
    padding: 0 $h-card-margin;
    overflow: auto;
    height: calc(100% - 248px);

    .document-department-name {
      display: block;
      text-decoration: none;
      color: $thunder-color;
      box-sizing: border-box;
      padding: 13px $h-side-frame 14px $h-side-frame;
      border: 1px solid $alto-color;
      border-radius: 2px;
      background-color: $wild-sand-color;

      & + .document-department-name {
        margin-top: $v-tiny-margin;
      }
    }
  }
}
