@import 'styles/colors';
@import 'styles/variables';
@import 'styles/mixins';
.officer-card {
  width: 248px;
  height: 313px;
  background: $white-color;
  border-radius: 8px;
  border: 1px solid $alto-color;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;

  .officer-info {
    box-sizing: border-box;
    padding: $v-margin $h-card-margin 0 $h-card-margin;
    height: 248px;

    .officer-type {
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      color: $boulder-color;
      margin-bottom: $v-small-margin;
    }

    .officer-name {
      color: $thunder-color;
      margin-bottom: $h-small-margin;
    }

    .officer-badges {
      @include small-text;
      padding-left: 23px;
      color: $boulder-color;
      background: url('assets/icons/star.svg') no-repeat left;

      :first-child {
        color: $thunder-color;
      }
    }
  }

  .officer-card-footer {
    box-sizing: border-box;
    padding: 0 $h-card-margin;
    overflow: auto;
    height: calc(100% - 248px);

    .officer-department-name {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      padding: 13px 16px 14px 16px;
      color: $thunder-color;
      border: 1px solid $alto-color;
      border-radius: 2px;
      background-color: $wild-sand-color;
    }
  }
}
