$toolbar-height: 80px;

$footer-height: 129px;

$mobile-breakpoint: 768px;

$input-width: 532px;
$icon-width: 16px;
$search-tag-height: 36px;

$v-header-margin: 48px;
$v-margin: 32px;
$v-mid-margin: 20px;
$v-frame-margin: 16px;
$v-small-margin: 12px;
$v-sub-tiny-margin: 8px;
$v-tiny-margin: 6px;
$v-tinier-margin: 4px;
$v-footer-margin: 76px;
$v-card-preview-height: 70px;
$v-card-preview-img-height: 49px;
$v-small-thumbnail: 56px;
$v-top-remove-btn: 25px;

$h-tiny-margin: 4px;
$h-side-frame: 16px;
$h-side-tag: 14px;
$h-card-margin: 32px;
$h-margin: 8px;
$h-small-margin: 4px;
$h-card-content: 42px;
$h-card-timeline: 48px;
$h-article-preview: 58px;
$h-small-thumbnail: 44px;
$h-small-thumbnail-back: 10px;
