@import 'styles/variables';

body {
  margin: 0;
}

%main-container {
  padding-top: $header-height;
  min-height: calc(100vh - #{$footer-height});
  box-sizing: border-box;
}

@media only screen and (max-width: $mobile-breakpoint) {
  %main-container {
    padding-top: $header-height-mobile;

    &.unauthorized {
      padding-top: $header-height;
    }
  }
}
