/** PlexSerif */
/** Thin */
@font-face {
  font-family: 'PlexSerif';
  font-weight: 100;
  src: url('assets/fonts/IBMPlexSans-Thin.otf') format('opentype');
}

/** Light */
@font-face {
  font-family: 'PlexSerif';
  font-weight: 300;
  src: url('assets/fonts/IBMPlexSans-Light.otf') format('opentype');
}

/** Regular */
@font-face {
  font-family: 'PlexSerif';
  font-weight: 400;
  src: url('assets/fonts/IBMPlexSans-Regular.otf') format('opentype');
}

/** Semi Bold */
@font-face {
  font-family: 'PlexSerif';
  font-weight: 500;
  src: url('assets/fonts/IBMPlexSans-SemiBold.otf') format('opentype');
}

/** Bold */
@font-face {
  font-family: 'PlexSerif';
  font-weight: 600;
  src: url('assets/fonts/IBMPlexSans-Bold.otf') format('opentype');
}

/** Thin Italic */
@font-face {
  font-family: 'PlexSerif';
  font-weight: 100;
  font-style: italic;
  src: url('assets/fonts/IBMPlexSans-ThinItalic.otf') format('opentype');
}

/** Light Italic */
@font-face {
  font-family: 'PlexSerif';
  font-weight: 300;
  font-style: italic;
  src: url('assets/fonts/IBMPlexSans-LightItalic.otf') format('opentype');
}

/** Regular Italic */
@font-face {
  font-family: 'PlexSerif';
  font-weight: 400;
  font-style: italic;
  src: url('assets/fonts/IBMPlexSans-Italic.otf') format('opentype');
}

/** Semi Bold Italic */
@font-face {
  font-family: 'PlexSerif';
  font-weight: 500;
  font-style: italic;
  src: url('assets/fonts/IBMPlexSans-SemiBoldItalic.otf') format('opentype');
}

/** Bold Italic */
@font-face {
  font-family: 'PlexSerif';
  font-weight: 600;
  font-style: italic;
  src: url('assets/fonts/IBMPlexSans-BoldItalic.otf') format('opentype');
}
