$toolbar-height: 80px;

$footer-height: 129px;

$mobile-breakpoint: 767px;

$input-width: 532px;

$v-header-margin: 48px;
$v-margin: 32px;
$v-mid-margin: 20px;
$v-frame-margin: 16px;
$v-small-margin: 12px;
$v-tiny-margin: 6px;
$v-footer-margin: 76px;

$h-side-frame: 16px;
$h-card-margin: 32px;
$h-margin: 8px;
$h-small-margin: 4px;
