@import 'styles/variables';
@import 'styles/colors';

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: $white-color;
  z-index: 999;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;

  .logo {
    padding: $v-frame-margin 0 $v-frame-margin $h-side-frame;
    text-decoration: none;
    order: 1;
  }
  .search-input-container {
    padding: $v-frame-margin $h-side-frame;
    flex-grow: 1;
    position: relative;
    flex-basis: auto;

    .input-field {
      padding: 11px 48px 12px 48px;

      &:focus {
        padding: 11px 48px 12px 48px;
      }
    }

    .close-btn {
      position: absolute;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    order: 2;
  }

  .logout-btn {
    width: 48px;
    height: 48px;
    margin: $v-frame-margin $h-side-frame;
    background-color: $wild-sand-color;
    border: 1px solid $alto-color;
    box-sizing: border-box;
    border-radius: 24px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    order: 3;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .header {
    .search-input-container {
      order: 3;
      flex-basis: 100%;
      margin-top: 0px;
    }
    .logout-btn {
      order: 2;
    }
  }
}
