@import 'styles/colors';

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  background-color: $white-color;
  z-index: 999;
  display: flex;

  .logo {
    font-size: 24px;
    line-height: 48px;
    font-weight: 600;
    margin-right: 60px;
    text-decoration: none;
    color: $thunder-color;
  }

  .search-input-container {
    flex-grow: 1;
    position: relative;

    .input-field {
      padding: 11px 48px 12px 48px;

      &:focus {
        padding: 11px 48px 12px 48px;
      }
    }

    .close-btn {
      position: absolute;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .logout-btn {
    width: 48px;
    height: 48px;
    margin-left: 32px;
    background-color: $wild-sand-color;
    border: 1px solid $alto-color;
    box-sizing: border-box;
    border-radius: 24px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
  }
}
