@import 'styles/variables';
@import 'styles/colors';
@import 'styles/mixins';

$close-icon-width: calc(#{$h-side-frame} + #{$h-margin} + 28px);

.search-input-wrapper {
  .search-input-container {
    flex-grow: 1;
    position: relative;
    flex-basis: 100%;
    box-shadow: 0px 4px 12px $black-15-color;
    z-index: 20;

    .search-input-with-suggestions {
      position: relative;

      .search-input {
        width: 100%;

        .input-field {
          &:focus {
            line-height: 46px;
          }
        }
      }

      .search-query-suggestions {
        position: absolute;
        width: 100%;
        box-shadow: 2px 2px 4px $black-25-color;
        border: solid $alto-color;
        border-width: 0 1px 1px 1px;
        box-sizing: border-box;
        display: none;

        .search-query-suggestion-header {
          @include small-text;
          padding: $v-frame-margin $h-side-frame $v-small-margin $h-side-frame;
          background-color: $wild-sand-color;
          color: $boulder-color;
          font-weight: 500;
        }

        .search-query-suggestion {
          background: $white-color url('assets/icons/clock.svg') no-repeat 16px;
          padding: $v-small-margin $h-side-frame $v-small-margin 48px;
          cursor: pointer;

          & + .search-query-suggestion {
            border-top: 1px solid $alto-color;
          }
        }
      }

      .show-suggestion {
        display: block;
      }

      &:focus {
        .search-query-suggestions {
          display: block;
        }
      }
    }

    .clear-btn {
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $blue-ribbon-color;
      display: none;
      cursor: pointer;
    }

    .close-btn-container {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translate(0%, -50%);
      cursor: pointer;

      .close-btn {
        width: $v-header-margin;
        height: $v-header-margin;
        border: 1px solid $alto-color;
        border-radius: 0px 8px 8px 0px;
        background: $white-color url('assets/icons/remove.svg') center no-repeat;
        box-sizing: border-box;
      }
    }

    &.has-value {
      .input-field.has-icon {
        padding-right: $close-icon-width;
      }

      .clear-btn {
        display: block;
      }
    }

    &:focus-within {
      .close-btn-container {
        .close-btn {
          border-top-color: $blue-ribbon-50-color;
          border-bottom-color: $blue-ribbon-50-color;
          border-right: 3px solid $blue-ribbon-50-color;
        }
      }
    }
  }

  .search-suggestion-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    z-index: 19;
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .search-input-wrapper {
    .search-input-container {
      flex-basis: auto;
    }
  }
}
