@import 'styles/variables';
@import 'styles/colors';
@import 'styles/mixins';

$close-icon-width: calc(#{$h-side-frame} + #{$h-margin} + 28px);

.search-input-container {
  padding: $v-frame-margin $h-side-frame;
  flex-grow: 1;
  position: relative;
  order: 3;
  flex-basis: 100%;
  z-index: 20;

  .search-input-with-suggestions {
    position: relative;

    .search-input {
      width: 100%;
    }

    .search-query-suggestions {
      position: absolute;
      width: 100%;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      border: solid $alto-color;
      border-width: 0 1px 1px 1px;
      box-sizing: border-box;
      display: none;

      .search-query-suggestion-header {
        @include small-text;
        padding: $v-frame-margin $h-side-frame $v-small-margin $h-side-frame;
        background-color: $wild-sand-color;
        color: $boulder-color;
        font-weight: 500;
        border-radius: 2px;
      }

      .search-query-suggestion {
        background: $white-color url('assets/icons/clock.svg') no-repeat 16px;
        padding: $v-small-margin $h-side-frame $v-small-margin 48px;
        cursor: pointer;

        & + .search-query-suggestion {
          border-top: 1px solid $alto-color;
        }
      }
    }

    .show-suggestion {
      display: block;
    }

    &:focus {
      .search-query-suggestions {
        display: block;
      }
    }
  }

  .close-btn {
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
  }

  &.has-value {
    .input-field.has-icon {
      padding-right: $close-icon-width;
    }

    .close-btn {
      display: block;
    }
  }
}

.search-suggestion-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 19;
}

@media only screen and (min-width: $mobile-breakpoint) {
  .search-input-container {
    flex-basis: auto;
    order: 2;
  }
}
