@import 'styles/variables';
@import 'styles/colors';
@import 'styles/mixins';

.menu {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 80vw;
  background-color: $white-color;
  z-index: 50;

  .wrapper {
    display: flex;
    flex-direction: column;

    .close-btn {
      width: 16px;
      height: 16px;
      padding: 30px 20px 8px;
      background: $white-color url('assets/icons/remove.svg') center no-repeat;
    }

    .page {
      @include body-text;
      padding: 15px 20px;
      color: $thunder-color;
      text-decoration: none;
    }
  }
}
