@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.search-page {
  .search-results {
    background-color: $white-color;

    & + .search-results {
      border-top: 1px solid $thunder-color;
    }
  }

  .list-title {
    color: $boulder-color;
  }
  .search-all {
    padding: 0 $h-side-frame;

    .search-all-btn {
      @include small-text;
      width: 100%;
      padding: $v-small-margin;
      margin-top: $v-frame-margin;
      border-radius: $v-sub-tiny-margin;
      background-color: $wild-sand-color;
      border: 1px solid $silver-color;
      color: $thunder-color;

      .emphasis-text {
        color: $thunder-color;
      }
    }
  }
}
