@import 'styles/colors';

.search-page {
  .search-results {
    background-color: $white-color;

    & + .search-results {
      border-top: 1px solid $thunder-color;
    }

    .carousel-title {
      color: $boulder-color;
    }
  }

  .list-title {
    color: $boulder-color;
  }
}
