@import 'styles/colors';

.document-preview-container {
  .document-preview {
    display: inline-block;
    width: 61px;
    height: 79px;
    border: 1px solid $alto-color;
    box-sizing: border-box;
    background-color: $white-color;
    position: relative;
    background-size: cover;
  }

  .document-preview-page {
    display: inline-block;
    width: 13px;
    height: 79px;
    border: solid $alto-color;
    border-width: 1px 1px 1px 0;
    box-sizing: border-box;
    background-color: $wild-sand-color;
  }

  &.small {
    .document-preview {
      width: 36px;
      height: 46px;
    }

    .document-preview-page {
      width: 8px;
      height: 46px;
    }
  }
}
