@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.document-item {
  @include small-text;
  padding: $v-frame-margin 0px;
  border-bottom: 1px solid $alto-color;

  .document-item-title {
    display: flex;

    .document-item-type {
      color: $boulder-color;
    }
    .document-item-name {
      color: $thunder-color;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 0 $h-margin;
        vertical-align: middle;
        background-color: $boulder-color;
        display: inline-block;
      }
    }

    .document-item-department-name {
      float: right;
      color: $boulder-color;
      white-space: nowrap;
    }
  }

  .document-item-subtitle {
    display: flex;

    .document-item-incident-date {
      color: $thunder-color;
      white-space: nowrap;
      margin-right: $h-margin;
    }

    .document-item-text-content {
      color: $boulder-color;
      font-weight: 300;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      em {
        background-color: $starship-50-color;
        font-style: normal;
      }
    }
  }
}
