@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.news-article-item {
  @include small-text;
  padding: $v-small-margin 0;
  border-bottom: 1px solid $alto-color;

  .news-article-item-source-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 4px;
    color: $boulder-color;

    span {
      font-weight: 600;
    }
  }

  .news-article-item-title {
    display: flex;

    .news-article-item-type {
      color: $boulder-color;
      display: none;
    }

    .news-article-item-name {
      color: $thunder-color;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 0 $h-margin;
        vertical-align: middle;
        background-color: $boulder-color;
        display: none;
      }
    }
  }

  .news-article-item-subtitle {
    display: flex;

    .news-article-item-published-date {
      color: $thunder-color;
      white-space: nowrap;
      margin-right: $h-margin;
    }

    .news-article-item-text-content {
      color: $boulder-color;
      font-weight: 300;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      em {
        background-color: $starship-50-color;
        font-style: normal;
      }
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .news-article-item {
    .news-article-item-title {
      .news-article-item-source-name {
        display: block;
      }

      .news-article-item-type {
        display: block;
      }

      .news-article-item-name {
        &::before {
          display: inline-block;
        }
      }
    }
  }
}
