@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.documents-list {
  padding: $v-header-margin $h-card-margin;

  .documents-list-title {
    @include h1;
    color: $thunder-color;
    margin-bottom: $v-frame-margin;
    flex-grow: 1;
  }
}
