@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.documents-list {
  padding: $v-header-margin 0;

  .documents-list-title {
    @include h1;
    color: $thunder-color;
    margin: 0 $h-side-frame $v-frame-margin $h-side-frame;
    flex-grow: 1;
  }
}
