@import 'styles/variables';

.mapboxgl-map {
  .replay-button {
    position: absolute;
    left: 9px;
    bottom: 60px;
    height: 40px;
    width: 40px;
    border: 0;
    background-image: url('assets/icons/replay.svg');
    background-color: transparent;

    &:hover {
      cursor: pointer;
      background-image: url('assets/icons/replay-hover.svg');
    }
  }
}

@media only screen and (min-width: $laptop-breakpoint) {
  .mapboxgl-map {
    .replay-button {
      bottom: 20px;
    }
  }
}
