@import 'styles/variables';
@import 'styles/colors';
@import 'styles/mixins';

.migration-details-box {
  position: absolute;
  background-color: $thunder-color;
  width: 120px;
  top: 38px;
  right: 0px;
  opacity: 0.75;
  box-shadow: 0px 2px 2px $black-12-color;
  border-radius: 8px 0px 0px 8px;
  z-index: 1;

  .migration-date {
    font-size: 10px;
    line-height: 13px;
    font-weight: 700;
    color: $three-poppy-color;
    height: 30px;
    padding: 9px 0;
    text-align: center;
    border-bottom: 1px solid $boulder-color;
    box-sizing: border-box;
  }

  .start-department {
    margin: 9px 7px 0px 29px;

    font-weight: 700;
    font-size: 8px;
    line-height: 12px;
    color: $white-color;
  }

  .officer {
    display: flex;
    align-items: center;

    .line {
      position: relative;
      margin-left: 15px;
      display: inline-block;
      height: 63px;
      width: 0px;
      border-right: 1px dashed $white-color;
      transform: translateX(-50%);
      box-sizing: border-box;

      &::before {
        content: '';
        width: 5px;
        height: 5px;
        position: absolute;
        box-sizing: border-box;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid $white-color;
        transform: translate(calc(-50% + 0.5px), -100%);
      }

      &::after {
        content: '';
        bottom: 0px;
        position: absolute;
        box-sizing: border-box;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid $white-color;
        transform: translate(calc(-50% + 0.5px), 100%);
        background-color: $white-color;
      }
    }

    .officer-name {
      font-weight: 400;
      font-size: 10px;
      line-height: 13px;
      position: relative;
      display: inline-block;
      color: $white-color;
      margin-left: 13px;
      box-sizing: border-box;
      padding: 2px 7px 3px 7px;
      background-color: $boulder-40-color;
      border-radius: 2px;

      &::before {
        content: '';
        position: absolute;
        display: inline-block;

        width: 0;
        height: 0;
        left: -5px;
        top: 5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid $boulder-40-color;
      }
    }
  }

  .end-department {
    margin: 0px 29px 9px 29px;
    font-weight: 700;
    font-size: 8px;
    line-height: 12px;
    color: $white-color;
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .migration-details-box {
    width: 144px;

    .migration-date {
      @include strong-text;
      font-weight: 700;
      padding: 3px 0;
    }

    .start-department {
      font-weight: 700;
      font-size: 10px;
      line-height: 14px;
    }

    .officer {
      .line {
        &::before {
          width: 9px;
          height: 9px;
        }

        &::after {
          width: 9px;
          height: 9px;
        }
      }

      .officer-name {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
      }
    }

    .end-department {
      font-weight: 700;
      font-size: 10px;
      line-height: 14px;
    }
  }
}

@media only screen and (min-width: $laptop-breakpoint) {
  .migration-details-box {
    width: 240px;
  }
}
