@import 'styles/variables';

.custom-link-wrapper {
  position: relative;
  cursor: pointer;

  .custom-link {
    height: 100%;
  }

  .remove-btn {
    position: absolute;
    right: $v-top-remove-btn;
    top: $v-top-remove-btn;
  }
}
