@import 'styles/colors';
@import 'styles/variables';
@import 'styles/mixins';

.timeline-news-article-card {
  box-sizing: border-box;
  background-color: $white-color;
  border-radius: 8px;

  .news-article-timeline-preview {
    background-color: $wild-sand-color;
    border-radius: 8px 8px 0 0;
    padding-left: $h-card-margin;
    height: $v-card-preview-height;
    display: flex;
    align-items: center;

    .news-article-preview {
      width: $h-article-preview;
      height: $v-card-preview-height;
      background: url('assets/icons/news-article-thumbnail.svg') no-repeat
        center;
    }
  }

  .news-article-timeline-content {
    padding: $v-small-margin $h-side-frame $v-small-margin $h-card-margin;

    .news-article-title {
      @include small-text;
      height: $h-card-content;
      margin-top: $v-tiny-margin;
      color: $thunder-color;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .news-article-subtitle {
      @include small-text;
      color: $boulder-color;
      margin: $v-tiny-margin 0;
    }
  }

  &.has-connected-line {
    .news-article-timeline-preview {
      padding-left: $h-card-timeline;
    }

    .news-article-timeline-content {
      padding-left: $h-card-timeline;
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .timeline-news-article-card {
    &.has-connected-line.left-item {
      .news-article-timeline-preview {
        padding: 0 $h-card-timeline 0 $h-card-margin;
      }

      .news-article-timeline-content {
        padding: $v-small-margin $h-card-timeline $v-small-margin $h-card-margin;
      }
    }
  }
}
