@import 'styles/variables';
@import 'styles/mixins';

$connection-line-height: 44px;
$start-connection-line-height: 54px;
$first-connection-line-height: 156px;

.officer-timeline {
  max-width: 1024px;
  margin: auto;

  .timeline-header {
    margin: $v-header-margin 0 $v-small-margin 0;
    position: relative;

    .timeline-header-text {
      @include h1;
      color: $boulder-color;
      text-align: center;
    }

    .timeline-header-actions-container {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-25%);
      z-index: 10;

      .timeline-header-actions-btn {
        width: 48px;
        height: 48px;
        border: 2px solid $alto-color;
        border-radius: 8px;
        background: url('assets/icons/filter.svg') no-repeat center;
        cursor: pointer;
        display: inline-block;
      }

      .timeline-header-download-btn {
        margin-left: $v-small-margin;
        width: 48px;
        height: 48px;
        border: 2px solid $alto-color;
        border-radius: 8px;
        background: url('assets/icons/download-file.svg') no-repeat center;
        cursor: pointer;
        display: inline-block;
      }

      .timeline-header-actions {
        position: absolute;
        right: 61px;
        top: 32px;
        width: 288px;
        box-sizing: border-box;
        background-color: $white-color;
        border-radius: 8px;
        filter: drop-shadow(0px 2px 2px $black-15-color);
        z-index: 100;

        .show-event-details {
          margin: $v-margin $h-card-margin $v-mid-margin $h-card-margin;
          padding: 14px 16px 13px 15px;
          box-sizing: border-box;
          border: 1px solid $alto-color;
          border-radius: 8px;
          display: inline-block;
          cursor: pointer;
          color: $boulder-color;
        }

        .filters-panel {
          padding: $v-mid-margin $h-card-margin $v-margin $h-card-margin;
          background-color: $wild-sand-color;
          border-radius: 8px;

          .filters-panel-title {
            margin-bottom: 2 * $v-small-margin;
          }
        }

        .show-event-details + .filters-panel {
          border-radius: 0 0 8px 8px;
        }
      }

      .timeline-header-download {
        position: absolute;
        right: 0;
        top: 32px;
        width: 288px;
        box-sizing: border-box;
        background-color: $white-color;
        border-radius: 8px;
        filter: drop-shadow(0px 2px 2px $black-15-color);

        .show-download-file {
          margin: 0;
          padding: 14px 16px 13px 15px;
          box-sizing: border-box;
          border: 1px solid $alto-color;
          border-radius: 8px;
          display: block;
          cursor: pointer;
          color: $boulder-color;
        }

        .show-download-file + .filters-panel {
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }

  .timeline-group {
    margin-bottom: $v-footer-margin;
    box-sizing: border-box;

    .timeline-group-title {
      padding-top: $v-small-margin;
      text-align: center;
      line-height: 24px;
    }

    .timeline-item {
      margin-top: $v-small-margin;
      position: relative;

      .timeline-connected-line-container {
        position: absolute;
        left: 23px;
        top: -($connection-line-height - 32px);

        .timeline-connected-line {
          position: relative;
          z-index: 1;

          .line {
            height: $connection-line-height;
            width: 2px;
            background-color: $alto-color;
          }

          &:after {
            position: absolute;
            z-index: -1;
            display: block;
            content: '';
            left: -7px;
            bottom: 0;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            background-color: $gallery-color;
          }
        }
      }

      &.inline-item {
        display: inline-block;

        .timeline-connected-line-container {
          display: none;
        }
      }
    }

    &.date-event-group {
      .timeline-item.first-timeline-item {
        .timeline-connected-line-container {
          top: -($start-connection-line-height - 32px);

          .line {
            height: $start-connection-line-height;
          }

          &:before {
            position: absolute;
            display: block;
            content: '';
            left: -3px;
            top: 0;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background-color: $silver-color;
          }
        }
      }

      & + .date-event-group {
        .timeline-item.first-timeline-item {
          .timeline-connected-line-container {
            top: -($first-connection-line-height - 32px);

            .line {
              height: $first-connection-line-height;
              width: 2px;
            }

            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .officer-timeline {
    .timeline-header {
      .timeline-header-actions-container {
        .timeline-header-actions {
          .show-event-details {
            border: none;
            padding: 13px $v-margin 14px $v-margin;
            margin: 0;
            display: block;
          }

          .show-download-file {
            border: none;
            padding: 13px $v-margin 14px $v-margin;
            margin: 0;
            display: block;
          }
        }
      }
    }

    .timeline-group {
      width: calc(50% + 24px);
      float: right;

      &.left-group {
        float: left;

        .timeline-item {
          .timeline-connected-line-container {
            right: 23px;
            left: auto;
          }
        }
      }
    }
  }
}
