@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/variables';

.department-page {
  background-color: $wild-sand-color;
  padding: $v-frame-margin 0;

  .department-period {
    @include small-text;
    padding: $v-frame-margin $h-card-margin;
    margin: 0 $h-side-frame $v-frame-margin $h-side-frame;
    text-align: center;
    border: 1px solid $alto-color;
    box-sizing: border-box;
    color: $boulder-color;
    background-color: $white-color;
  }

  .department-content {
    @include small-text;
    padding: $v-margin $h-side-frame;
    border: 1px solid $alto-color;
    box-sizing: border-box;
    background-color: $white-color;
    border-radius: 2px;

    .department-title {
      @include small-text;
      color: $boulder-color;
    }

    .department-name {
      @include h1;
      margin-top: $v-small-margin;
      color: $thunder-color;
    }

    .department-basic-info {
      .department-location {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: $v-frame-margin 0;

        .department-map {
          width: $map-small-height;
          height: $map-small-height;
          background-size: contain;
          background-repeat: no-repeat;
          box-sizing: border-box;
        }

        .upper-location-info {
          box-sizing: border-box;
          padding-left: 24px;
          .department-city {
            @include strong-text;
          }
        }

        .lower-location-info {
          background-color: $wild-sand-color;
          padding: $v-frame-margin $h-side-frame $v-frame-margin 0;
          flex-basis: 100%;
          box-sizing: border-box;

          .address {
            background: url('assets/icons/check-point.svg') no-repeat 14px;
            padding-left: 36px;
          }

          .phone {
            background: url('assets/icons/phone-book.svg') no-repeat 12px;
            padding-left: 36px;
            margin-top: 9px;
          }
        }
      }

      .department-summary {
        display: flex;
        background-color: $alto-color;
        margin: 25px 0 16px 0;
        flex-flow: row wrap;
        gap: 1px;

        .summary-item {
          display: flex;
          flex-flow: column nowrap;
          flex-basis: calc(50% - 0.5px);
          padding: 0px $h-small-thumbnail-back;
          height: 180px;
          background-color: $thunder-color;
          color: $white-color;
          box-sizing: border-box;
          text-align: center;
          justify-content: center;

          .summary-item-count {
            @include h1;
          }

          .summary-item-title {
            @include strong-text;
          }

          .recent-summary-item {
            color: $alto-color;
          }
        }
        .summary-allegations {
          color: $wewak-color;
        }

        .summary-incidents {
          color: $manhattan-color;
        }
      }
    }
  }

  .department-wrgl-files {
    padding: 24px $h-side-frame 36px $h-side-frame;
    background-color: $wild-sand-color;
    color: $thunder-color;

    .wrgl-title {
      @include callout-text;
      margin-bottom: 45px;
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .department-page {
    .department-content {
      .department-basic-info {
        .department-location {
          height: 148px;
          flex-flow: column wrap;
          justify-content: center;
          align-items: start;
          align-content: flex-start;
          gap: 0 $h-side-frame;

          .department-map {
            width: $map-height;
            height: $map-height;
            flex-basis: 100%;
          }

          .upper-location-info {
            flex-basis: 64px;
          }

          .lower-location-info {
            flex-basis: 84px;

            .address {
              padding-left: $h-card-timeline;
              background-position-x: 26px;
            }

            .phone {
              padding-left: $h-card-timeline;
              background-position-x: 24px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
  .department-page {
    .department-content {
      padding: $v-margin 24px 19px 24px;

      .department-basic-info {
        .department-summary {
          flex-direction: row;

          .summary-item {
            flex-basis: calc(100% / 3 - 0.67px);
          }

          .summary-officers {
            order: 1;
          }

          .summary-datasets {
            order: 4;
          }

          .summary-news-articles {
            order: 2;
          }

          .summary-allegations {
            order: 5;
          }

          .summary-documents {
            order: 3;
          }

          .summary-incidents {
            order: 6;
          }
        }
      }
    }
  }
}
