@import './base';

.input-container {
  position: relative;
  width: 100%;

  @include base-input;
}

@media only screen and (min-width: $mobile-breakpoint) {
  .input-container {
    width: $input-width;
  }
}
