@import './base';

.password-input-container {
  position: relative;
  width: 100%;

  @include base-input;

  .eye-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    width: 48px;
    cursor: pointer;
    background: url('assets/icons/eye-hide.svg') no-repeat calc(100% - 10px);

    &.hide {
      background-image: url('assets/icons/eye-show.svg');
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .password-input-container {
    width: $input-width;
  }
}
