@import './base';

.tagged-input-container {
  position: relative;
  width: 100%;

  @include base-input;

  .input-field {
    padding: 0;

    &.has-tag {
      padding-left: $icon-width;
    }

    .search-form-wrapper {
      width: 100%;
      overflow: auto;

      .search-tag {
        float: left;
        padding-left: $v-small-margin;
        padding-right: $v-small-margin;
        border: 1px solid $alto-color;
        line-height: $search-tag-height;
        border-radius: $v-sub-tiny-margin;
        margin: $h-tiny-margin;
        margin-right: $h-side-tag;
        background: $white-color;
      }

      .search-tag {
        display: none;
      }

      .stretch-input {
        font-family: 'PlexSerif';
        font-weight: 400;
        float: none;
        overflow: hidden;
        .transparent-input {
          width: 100%;
          background: transparent;
          border: none;
          outline: none;
          display: inline-block;
          @include body-text;
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .tagged-input-container {
    width: $input-width;

    .svg-icon.has-tag {
      display: none;
    }

    .input-field {
      &.has-tag {
        padding-left: 0;
      }

      .search-form-wrapper {
        .search-tag {
          display: block;
        }
      }
    }
  }
}
