@import 'styles/colors';

.footer {
  box-sizing: border-box;
  padding: 26px 16px 81px 16px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: $thunder-color;
  background-color: $white-color;

  b {
    color: $black-color;
    font-weight: 500;
  }
}
