@import 'styles/colors';
@import 'styles/variables';

.footer {
  box-sizing: border-box;
  padding: $h-card-margin $v-frame-margin $v-footer-margin $v-frame-margin;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: $thunder-color;
  background-color: $white-color;

  b {
    color: $black-color;
    font-weight: 500;
  }
}
